.navbar-default {
    margin: 0px;
    border-color: #00b2ff;
    background-color: #00b2ff;
}

.header {
    background-image: url("img/balloon-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;

}

.vert-center {
    vertical-align: middle;
    transform: translate(0%, 50%);
}

.title {
    text-align: center;
}

span {
    color: rgb(64, 224, 208);
    font-size: 40px;
}

.info {
    display: block;
    text-align: center;
    visibility: hidden;
}


#middle {
    text-align: center;
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

#home {
    background-color: rgb(163, 198, 255);
}

#gallery {
    background-color: rgb(163, 198, 255);
}


#testimonials {
    background-color: #f1a3ff;
}

#info {
    background-color: #f1a3ff;
}

#contacts {
    background-color: rgb(163, 198, 255);
}

#pad {
    padding: 20px;
}

.tile {
    position: relative;
    padding: 0px;
}

h3 {
    text-align: center;
    padding-top: 20px;
    font-family: 'PT Serif', serif;
    font-family: 'Lora', serif;
}

p {
    color: purple;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.p1 {
    color: #f44242;
    font-family: 'Lobster', cursive;
}

.p2 {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-family: 'Abril Fatface', cursive;
}

hr {
    border-width: 3px;
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: blue;
}

#form {
    margin: auto;
}

h1 {
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Parisienne', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

info {
    font-size: 42px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    .hrs {
        max-width: 225px;
    }
    .hrt {
        max-width: 525px;
    }

    .hrh {
        max-width: 275px;
    }

    .hrg {
        max-width: 100px;
    }

    .hri {
        max-width: 375px;
    }

    .hrc {
        max-width: 375px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 37px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 19px;
    }
    p {
        font-size: 15px;
    }
    .hrs {
        max-width: 300px;
    }
    .hrt {
        max-width: 600px;
    }

    .hrh {
        max-width: 337px;
    }

    .hrg {
        max-width: 150px;
    }

    .hri {
        max-width: 450px;
    }

    .hrc {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 27px;
    }
    p {
        font-size: 19px;
    }
    .hrs {
        max-width: 300px;
    }
    .hrt {
        max-width: 750px;
    }

    .hrh {
        max-width: 337px;
    }

    .hrg {
        max-width: 150px;
    }

    .hri {
        max-width: 562px;
    }

    .hrc {
        max-width: 562px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 61px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 22px;
    }

    .hrs {
        max-width: 380px;
    }

    .hrt {
        max-width: 750px;
    }

    .hrh {
        max-width: 513px;
    }

    .hrg {
        max-width: 190px;
    }

    .hri {
        max-width: 580px;
    }

    .hrc {
        max-width: 580px;
    }
}
